body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f8f2f5;
    display:flex;
    justify-content:center;
    align-items: center;
    height:100vh;
    margin: 0;
}

body * {
    box-sizing: border-box;
}

.login-container {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    width: 300px;
}

.login-container h2 {
    text-align: center;
    margin-bottom:20px;
    color: #333;

}

.login-container input[type="text"],
.login-container input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0; 
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login-container input:focus {
    border-color: #4285f4;
    outline: none;
}

.login-container input:nth-child(2) {
    margin-top: 0;
}

.login-container button {
    width : 100%;
    padding: 10px;
    background-color: #4285f4;
    color: white;
    border:none;
    border-radius: 5px;
    font-size: 16px;
    cursor:pointer;
}

.login-container button:hover {
    background-color: #357ae8;

}